#main{
    padding-top: 80px;
}
.song-header-container{
    width: 100%;
    // Dynamically figure out height based off of width in JSX
}

.song-image{
    width: 100%;
}

.song-content-container{
    max-width: 1200px;
    margin: auto;
    background:#FFF;
    
    padding: 20px;
    z-index: 1;
    
    display: flex;
    justify-content: space-between;
}

.song-meta{
    padding: 50px;
    font-size: 18px;
}

.song-content{
    padding: 50px;
    color: #fff;
    background: #333;
    margin-top: -40px;
    position: relative;
}

.rarity{
    position: sticky;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 80px;
    margin-top: -100px;
    margin-right: -50px;
    background: #FFBF43;
    border-radius: 100%;
    display: block;
    top: 50%;
    z-index: 0;
    flex-shrink: 0;
    padding: 50px;
}
